SUBSYSTEM=="usb", ATTR{idVendor}=="19f7", ATTR{idProduct}=="0072", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="19f7", ATTR{idProduct}=="0078", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="19f7", ATTR{idProduct}=="0037", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="19f7", ATTR{idProduct}=="0030", TAG+="uaccess"