sidebar {
    width: 311px;
    background-color: #2d2d2d;
}
sidebar .sidebar-header {
    layout-type: row;
    width: 311px;
    height: 71px;
    alignment: left;
    padding-top: 22px;
    padding-left: 22px;
    padding-bottom: 22px;
    gap: 11px;
}
sidebar .sidebar-content {
    width: 311px;
}
sidebar .sidebar-header button {
    background-color: #1d1d1d;
    corner-radius: 30%;
    width: 26px;
    height: 26px;
}
sidebar .sidebar-header button svg {
    width: 16px;
    height: 16px;
}